<div class="main-container">
  <div class="views-box" *ngFor="let view of views">
    <div class="user-info">
      <img src="" class="">
      <div class="user-details">
        <p>Username: {{ view.username }}</p>
        <p>Location: {{ view.location }}</p>
        <p>Role: {{ view.role }}</p>
        <p>Created At: {{ view.createdAt | date:'short' }}</p> <!-- Format date -->
      </div>
    </div>
    <div class="user-view">
      <p>{{ view.viewText }}</p>
    </div>
  </div>
  <div class="input-container">
    <form [formGroup]="viewForm" (ngSubmit)="addView()">
      <div>
        <label for="username">Username:</label>
        <input id="username" formControlName="username" class="view-input" type="text">
      </div>
      <div>
        <label for="location">Location:</label>
        <input id="location" formControlName="location" class="view-input" type="text">
      </div>
      <div>
        <label for="role">Role:</label>
        <input id="role" formControlName="role" class="view-input" type="text">
      </div>
      <div>
        <label for="viewText">Type your view:</label>
        <input id="viewText" formControlName="viewText" class="view-input" type="text">
      </div>
      <button class="submit-button" type="submit" [disabled]="viewForm.invalid">Submit</button>
    </form>
  </div>
</div>
