.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(54, 245, 54, 0.1);
  padding: 5px;
  height: auto;
}
.views-header{
  background-color: #bbadff; /* Light purple background */
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 70%;
}


.views-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #CCE6F4;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.views-box.hidden {
  display: none;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  padding: 1px;
}

.user-view {
  flex: 1;
  padding: 10px;
  font-size: 0.9rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  max-width: 800px;
  /* margin-top: 20px; */
  gap: 10px;
}
.type{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  max-width: 800px;
  width: 100%;
  padding: 5px;
}

.hidden-field {
  display: none;
}

label {
  font-size: 0.9rem;
  flex: 0 0 100px;
}

.view-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 650px;
}

.submit-button {
  align-self: flex-end;
  padding: 10px 20px;
  background-color: rgb(13, 13, 94);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Link styles for Show More and Hide */
.toggle-links {
  margin-top: 10px;
}

.toggle-link {
  color: #CCE6F4; /* Light blue color for the links */
  cursor: pointer;
  text-decoration: none;
  margin: 0 10px;
}

.toggle-link:hover {
  text-decoration: none;
  color: rgba(54, 245, 54, 0.1);
}

@media (max-width: 768px) {
  .views-box {
    flex-direction: column;
    text-align: center;
  }

  .user-info {
    margin-bottom: 10px;
  }

  .input-container {
    flex-direction: column;
    width: 100%;
  }

  label {
    flex: 0 0 auto;
    margin-bottom: 5px;
  }

  .view-input {
    width: 100%;
  }

  .submit-button {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
  }

  .toggle-button {
    width: 100%;
    padding: 15px;
  }
}
