<div class="main-container">
  <div class="polls-container">
    <div class="polls-header">
      <h1>ACTIVE POLLS</h1>
      <div class="toggle-links">
        <a 
          *ngIf="!showAllPolls" 
          (click)="togglePolls()" 
          class="toggle-link">Show More</a>
        <a 
          *ngIf="showAllPolls" 
          (click)="togglePolls()" 
          class="toggle-link">Hide</a>
      </div>
    </div>
    <div *ngFor="let poll of getDisplayedPolls()" class="poll">
      <h2>{{ poll.title }}</h2>
      <p>{{ poll.question }}</p>
      <div *ngFor="let option of poll.options">
        <input 
          type="radio" 
          [name]="poll.id" 
          [value]="option.label" 
          (change)="vote(poll, option)">
        <label [ngStyle]="{'color': getColor(option.label)}">
          {{ option.label }} ({{ option.percentage }}%)
        </label>
        <div class="progress-bar">
          <div 
            class="fill" 
            [ngStyle]="{'width': option.percentage + '%', 'background-color': getColor(option.label)}">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- polls.component.html
<div class="main-container">
  <div class="polls-container">
    <div class="polls-header">
      <h1>ACTIVE POLLS</h1>
    </div>
    <div *ngFor="let poll of polls" class="poll">
      <h2>{{ poll.title }}</h2>
      <p>{{ poll.question }}</p>
      <div *ngFor="let option of poll.options">
        <input 
          type="radio" 
          [name]="poll.id" 
          [value]="option.label" 
          (change)="vote(poll, option)">
        <label [ngStyle]="{'color': getColor(option.label)}">
          {{ option.label }} ({{ option.percentage }}%)
        </label>
        <div class="progress-bar">
          <div 
            class="fill" 
            [ngStyle]="{'width': option.percentage + '%', 'background-color': getColor(option.label)}">
          </div>
        </div>
      </div>
      <button (click)="deletePoll(poll.id)">Delete Poll</button> -->
   
